html { 
    overflow-y: scroll; 
}

.jumbotron {
    padding: 2rem 2rem;
}

.btn-light {
    background-color: #f0f4f7;
    border-color: #f0f4f7;
}

.fundraising-image {
    max-width: 370px; 
    height: auto;
}

h4 {
    color: #343a40;
}

.badge-primary {
    background-color:  #343a40;
}

.list-group {
    margin-right: 100px;
}